.button{
    border-radius: 50px;
    background-color: rgb(211, 98, 98);
    width: 150px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    padding: 8px 20px;
    color: rgb(167, 17, 17);
    display: inline-block;
    margin: 10px;
}
body{
    margin: 0;
    padding: 0;
}
.text-upcercase{
    text-transform: uppercase;
    color: rgb(179, 58, 58);
}
a{
    text-decoration: none;
    color: white;
}
input{
    margin-top: 4px;
}